/*
* card 样式
*/
card {
  display: block;
  margin-bottom: .1rem;
  -moz-box-shadow: 0 0 .02rem 0 rgba(0, 0, 0, .2);
  box-shadow: 0.1rem 0.04rem 0.02rem 0.01rem rgba(0, 0, 0, .05);
  -moz-border-radius: .02rem;
  border-radius: .02rem;
  background-color: #fff;
}