doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
        title Reactdemo
    body
    script(src="http://res.test.cn/lib/lib.js")
    script(src="http://res.test.cn/app.js")
    script.
        steel.boot('app');