/*
* card 样式
*/
card{display:block;margin-bottom:.1rem;-moz-box-shadow:0 0 .02rem 0 rgba(0,0,0,.2);box-shadow:0.1rem 0.04rem 0.02rem 0.01rem rgba(0,0,0,.05);-moz-border-radius:.02rem;border-radius:.02rem;background-color:#fff;}
card header{height:.68rem;line-height:.68rem;}
card .bd{}
card .ft{padding:0 0 .10rem;}

/*TODO*/
card .chart{text-align:center;}
card .chart img{max-width:98%;margin:0 auto;}
card .chart tab{margin:.10rem 0;}
card .title{border-left:.10rem solid #fa7d3c;padding:0 .15rem;font-size:16px;font-weight:500;text-shadow:0 .01rem .03rem rgba(0,0,0,.05);}
card ul{text-align:center;}
card li{display:inline-block;font-size:.22rem;color:#525252;text-align:center;min-width:.80rem;}
card nav li a,card cell{display:inline-block;line-height:.30rem;padding:.15rem .06rem .10rem;border-bottom:.04rem solid transparent;}
card nav li.on a{color:#fc974a;border-color:#fc8123;}
card .no2 li{min-width:48%;}
card .no3 li{min-width:30%;}
card .no4 li{min-width:22%;}
card .point{border-radius:20px;border:4px solid;display:inline-block;margin:-.02rem .05rem 0 0;}
card .point.orange{border-color:#ed6d71;}
card .point.yellow{border-color:#ff9b66;}
card .point.red{border-color:#98301b;}

/*tab样式*/
tab{display:block;}
tab item{font-size:.18rem;color:#fff;background-color:#c1c1c1;display:inline-block;vertical-align:middle;text-align:center;cursor:pointer;padding:.12rem;}

/*圆角tab*/
tab.split{padding:.15rem .25rem;background-color:#f3f3f3;}
tab.split item{border:.01rem solid;border-radius:15px;min-width:.80rem;margin:0 .08rem;}
tab.split item.on{background-color:#fc974a;}

/*数据选择tab*/
tab.square{display:inline-block;border:.02rem solid #e2e2e2;}
tab.square item{padding:.12rem .15rem;color:#333;border-bottom:.04rem solid transparent;border-left:.02rem solid #e2e2e2;background-color:#fff;}
tab.square item.frist{border-left:0;}
tab.square item.on{background-color:#f2f2f5;color:#fc8123;border-bottom-color:#fc8123;}

/*nodelist*/
card .list{padding:.20rem 0;}
card .list .node{padding:.10rem 0.30rem;}
card .ico{width:.70rem;display:inline-block;float:left;border-radius:50%;}
card .desc{float:left;padding:0 0 0 .16rem;line-height:.28rem;}
card .desc em{padding:0 .20rem 0 0;}
card .more{text-align:center;padding:.20rem .15rem;}

/*
* 广告样式
*/
.banner{background-color:#4c749c;height:98px;overflow:hidden;position:relative;margin-bottom:.1rem;}
.banner .slash{border-top:98px solid #5c87af;border-right:98px solid transparent;width:510px;}
.banner .content{position:absolute;top:0;width:100%;text-align:center;line-height:.66rem;padding:30px 0;}
.banner h5,.banner button{height:38px;line-height:36px;font-weight:700;color:#fff;text-shadow:0 1px 5px rgba(0,0,0,.3);padding:0 .30rem;}
.banner h5{font-size:16px;float:left;}
.banner button{border-radius:3px;-webkit-box-shadow:none;box-shadow:none;border:1px solid #ff5900;background-color:#fa7d3c;background-image:linear-gradient(100deg,#fa7d3c 0,#f55f10);font-size:14px;float:right;margin:0 .15rem;}

/*pc-h5适配*/
@media screen and (max-width:740px){
	.hd .title{font-size:0.24rem;}
	.banner h5{float:none;}
	.banner button{float:none;}
	.banner .slash{width:3.8rem;}
	.banner .content{padding:8px 0;}
}

/*页尾*/
.bottom .ft{text-align:center;padding:.15rem 0;}
.bottom .ft cell{display:inline-block;padding:.10rem;}

/*图表滑动门*/
.chart_slide{height:.80rem;background-color:#7ab4ef;}
.chart_slide .frist,.chart_slide .second{height:100%;float:left;}
.chart_slide .frist{background-color:#f9a355;}
.chart_slide .second{background-color:#8cef77;}
card .chart_slide{margin:.10rem .20rem;}

/*card补丁样式*/
card.followers .ft .vertical{min-height:.18rem;}

/*我的影响力样式*/
.effect .bd{text-align:center;padding:.25rem 0;}
.effect ul{display:inline-block;}
.effect li{float:left;}
.effect li.add{padding:.50rem 0 0;}
.effect li.large .circular{width:1.55rem;height:1.55rem;line-height:1.65rem;}
.effect h5{font-size:.20rem;font-weight:600;padding:.10rem 0;}
.effect .circular{width:1rem;height:1rem;line-height:1.1rem;display:inline-block;border-radius:50%;color:#fff;font-weight:800;}
.effect .circular span{font-size:.36rem;}
.effect .circular em{font-size:.24rem;}
.effect .bg_yellow{background-color:#ff9932;}
.effect .bg_green{background-color:#2fd075;}
.effect .bg_red{background-color:#ff6044;}
.effect .bg_blue{background-color:#66c9f9;}

/*微博效果分析*/
.analysis .bd{padding:.20rem 0;text-align: center;}
.analysis .content{display: inline-block;height: 5.55rem;overflow: hidden;}
.analysis .pyramids{height:0;width:2.3rem;border-style:solid;border-width:5.65rem 1.32rem 0;border-color:transparent #fff transparent #fff;margin:0 auto;background-color:#ff9500;text-align:center;}
.analysis ul{float: left;width: 100%;height: 5.65rem;}
.analysis ul li{padding:.52rem 0;display:block;border-bottom:3px solid #fff;color: #fff;overflow: hidden;}
.analysis ul p{font-size: .24rem;line-height: .40rem;}



.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/*微博内容列表*/

.content-list .icon{
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
    display: inline-block;
}
.content-list .icon .num{
    padding-top: 0.18rem;
    font-weight: 700;
}
.content-list .icon p{
    text-align:  center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-list .border{
    border: 1px solid #ccc;
}
.content-list .dash-border-top{
    border-top: 1px dashed #ccc;
}
.content-list li{
    padding: 0.2rem 0;
    width:100%;
    /*border: 1px solid #ccc;*/
}

.content-list .cell .content{
    float: right;
    width: calc(100% - 1.2rem);
    margin-left: 0.2rem;
    text-align: left;
}
.content-list .cell .content img{
    margin: 0.2rem 0 0 0;
}
.content-list .content .content-text{
    text-align: left;
    line-height: 0.36rem;
    margin: 0.06rem 0;
}
.content-list .content .info-bar .date{
    display: inline-block;
}
.content-list .content .info-bar .statues{
    float: right;
    display: inline-block;
}
.profile-name{
    font-weight: 700;
}
.content-list .cell{
    width: calc(100% -0.24rem);
    padding: 0.2rem 0;
    margin: 0 0.24rem;
}

.content-list .noIcon .statics{
    width: 100%;
}
.content-list .statics{
    float: right;
    width: calc(100% - 1.2rem);
    margin-left: 0.2rem;
}
.content-list .statics .info{
    line-height: 0.33rem;
    height: 0.33rem;
}
.content-list .statics .info .text{
    width: 1rem;
    text-align: right;
    float: left;
}
.content-list .info .name{
    float: left
}
.content-list .info .num{
    text-align: right;
}
.content-list .statics .silder{
    width:  calc(100% - 1.1rem);
    height: 0.2rem;
    margin-top: 0.06rem;
    float: right;
    background-color: #e0e0e0;
    
}
.content-list .statics .color{
    height: 100%;
}
.content-list .icon-margin{
    margin-left: 1.48rem;
}
.read{
    background-color: #ee6c70
}
.reach{
    background-color: #b12f14
}
.link{
    background-color: #fab700
}
.picture{
    background-color: #ff985d
}
.video{
    background-color: #73441c
}
.like{ 
    background-color: #fab700
}
.comment{
    background-color: #ff985d
}
.repost{
    background-color: #73441c
}


/*移动端图表*/

.table .table-cell{
    width: 100%;
    font-size:0.24rem;
   
}
.table .bd{
    padding: 0.24rem
}
.table .table-cell:nth-child(even){
    background: hsla(0,0%,78%,.2)
}
.table .table-cell p{
     padding: 9px 24px;
}
.table .table-cell .cell-title{
    font-weight: 700;
}
.table .table-cell .cell-num{
    float: right;
}
