.steel-render-stage-scroll
    .banner
        .slash
        .content
            h5 付费版试用将在 21 天后结束
            button(type='button',name='submit_btn') 立刻购买付费版

    card
        nav
            ul.no4
                li.on 
                    a 粉丝分析
                li  
                    a 内容分析
                li  
                    a 互动分析
                li  
                    a 行业趋势分析
            tab.split
                item 7天数据   
                item.on 14天数据   
                item 21天数据  
        //- .bd
        //-     .chart
        //-         img(src="http://ww4.sinaimg.cn/large/3eff959cjw1f1zuip7xcsj20la0b9jrw.jpg")

        
    card.table
        header
            h4.line.title
                | 最活跃粉丝前10名
        .bd
            div.table-cell
                p
                    span.cell-title 排名
                    span.cell-num 1,300
                p 
                    span.cell-title 排名
                    span.cell-num 1,300
                p
                    span.cell-title 排名
                    span.cell-num 1,300
                p
                    span.cell-title 排名
                    span.cell-num 1,300
            div.table-cell
                p
                    span.cell-title 排名
                    span.cell-num 1,300
                p 
                    span.cell-title 排名
                    span.cell-num 1,300
                p
                    span.cell-title 排名
                    span.cell-num 1,300
                p
                    span.cell-title 排名
                    span.cell-num 1,300
         

    card.content-list
        header
            h4.line.title
                | 微博内容列表
        .bd
            .chart
                tab.square
                    item.on.frist(tab-type='pv') 我发布的微博
                    item(tab-type='uv') 提及我的微薄
        .bd
            ul
                li
                    .cell.clearfix
                        img.icon
                        .content
                            p.profile-name 哟哟哟
                            .content-text 啊打开链接ask的急啊开始了决定了卡视角来看阿里的距离喀什灯笼裤洒家的
                            .info-bar
                                .date 2016年4月19日 18:41
                                .statues.border 普通微博
                            img(src="http://ww3.sinaimg.cn/thumbnail/75bba5d3jw1f34dmcp4e5j20hs0vkwfr.jpg", alt="")
                    .cell.dash-border-top.clearfix.noIcon
                        .statics
                            .info
                                .text
                                    span.name 短链
                                    span 0
                                .silder
                                    .color.read(style='width:50%')
                            .info
                                .text
                                    span.name 短链
                                    span 0
                                .silder
                                    .color

                
                    .cell.dash-border-top.clearfix
                        .icon.border
                            p.num 0
                            p 点击数
                        .statics
                            .info
                                .text
                                    span.name 短链
                                    span 0
                                .silder
                                    .color
                            .info
                                .text
                                    span.name 短链
                                    span 0
                                .silder
                                    .color
                            .info
                                .text
                                    span.name 短链
                                    span 0
                                .silder
                                    .color
                    .cell.dash-border-top.clearfix
                        .icon.border
                            p.num 0
                            p 点击数
                        .statics
                            .info
                                .text
                                    span.name 短链
                                    span 0
                                .silder
                                    .color
                            .info
                                .text
                                    span.name 短链
                                    span 0
                                .silder
                                    .color
                            .info
                                .text
                                    span.name 短链
                                    span 0
                                .silder
                                    .color
                                



    card.analysis
        header
            h4.line.title
                | 微博效果分析
        .bd
            .content
                ul
                    li
                        p 阅读数
                        p 2063
                    li
                        p 触达数
                        p 2063
                    li
                        p 互动参与数
                        p 2063
                .pyramids
                

    card.effect
        header
            h4.line.title
                | 我的影响力
        .bd
            .clearfix       
                ul
                    li.large
                        .circular.bg_yellow
                            span 101
                            em .21
                        h5 我的影响力

            .clearfix
                ul
                    li
                        .circular.bg_green
                            span 6
                            em .21
                        h5 活跃度
                    li.add +
                    li
                        .circular.bg_red
                            span 0
                            em .21
                        h5 传播力
                    li.add +
                    li
                        .circular.bg_blue
                            span 93
                            em .21
                        h5 覆盖

    card
        header
            h4.line.title
                | 新增粉丝
        section.line
            ul.no3
                li 
                    cell
                        h3 100
                        p 新增粉丝
                .vertical
                li 
                    cell
                        h3 0.00
                        p 日均
                .vertical
                li 
                    cell
                        h3 1100
                        p 粉丝总数
        .bd
            .chart
                tab.square
                    item.frist 浏览量
                    item 独立访问客数
                    item.on 访问时间

                div
                    img(src="http://ww4.sinaimg.cn/large/3eff959cjw1f1zuip7xcsj20la0b9jrw.jpg")


    card
        header
            h4.line.title
                | 粉丝细分
        ul.no3.line
            li 
                cell
                    h3 90.6%
                    p 普通
            .vertical
            li 
                cell
                    h3 0.1%
                    p 认证
            .vertical
            li 
                cell
                    h3 16.5%
                    p 达人
        .bd
            .chart
                img(src="http://ww3.sinaimg.cn/mw1024/3eff959cjw1f24en21g9yj206205ot8q.jpg")
            dl.list
                dd.node.clearfix.line
                    img.ico(src="http://tp4.sinaimg.cn/1757353251/180/5633528757/1")
                    .desc
                        h5 微博昵称
                        p 粉丝： 100万
                        p 
                            em 关注时长：15天 
                            em 取关时间：2015-01-11
                dd.node.clearfix
                    img.ico(src="http://tp4.sinaimg.cn/1757353251/180/5633528757/1")
                    .desc
                        h5 微博昵称
                        p 粉丝： 100万
                        p 
                            em 关注时长：15天 
                            em 取关时间：2015-01-11
                dd.node.clearfix
                    img.ico(src="http://tp4.sinaimg.cn/1757353251/180/5633528757/1")
                    .desc
                        h5 微博昵称
                        p 粉丝： 100万
                        p 
                            em 关注时长：15天 
                            em 取关时间：2015-01-11
            .line
            .more 查看更多

    card.followers
        header
            h4.line.title
                | 关注总人数
        ul.no2.line
            li 
                cell
                    h3 1239000
                    p 关注总人数
            .vertical
            li 
                cell
                    h3 2000
                    p 关注人增长
        .bd.line
            .chart
                img(src="http://ww3.sinaimg.cn/large/3eff959cjw1f24hge932nj208m040jrf.jpg")
        .ft
            ul.no3
                li 
                    cell 
                        i.point.yellow 
                        | 总数
                .vertical
                li 
                    cell 
                        i.point.orange 
                        | 非认证
                .vertical
                li 
                    cell 
                        i.point.red 
                        | 认证


    card
        header
            h4.line.title
                | 数据统计图表
        .bd
            .chart
                img(src="http://ww4.sinaimg.cn/large/3eff959cjw1f1zuip7xcsj20la0b9jrw.jpg")


    

    card
        header
            h4.line.title
                | 新增粉丝  
                
        section.line
            ul.no3
                li 
                    cell 
                        h3 300
                        p 总数
                .vertical
                li 
                    cell 
                        h3 10
                        p 互粉
                .vertical
                li 
                    cell 
                        h3 269
                        p 关注总人数
        .bd
            .chart_slide
                .frist(style="width:20%;")
                .second(style="width:30%;")
        .ft


    card.bottom
        .ft 
            cell
                a(href="http://weibo.socialbakers.com/static/user-guide/weibo_data_center_guide.html") 用户指南
            | |
            cell
                a(href="mailto:businessapi@staff.sina.com.cn") 客服邮箱
            | |
            cell
                a 400 0960 960
    .ft
